@inherits SearchItem<string>


<div class="my-component">
    This component is defined in the <strong>ColdShine.Blazor.Controls</strong> library.
</div>

@code {
	[Microsoft.AspNetCore.Components.Parameter]
	public string? Value { get; set; }

	[Microsoft.AspNetCore.Components.Parameter]
	public Microsoft.AspNetCore.Components.EventCallback<string> ValueChanged { get; set; }

	public override IEnumerable<ColdShine.Blazor.Models.Condition<string>> SimpleSearcherConditions
	{
		get
		{
			if (!string.IsNullOrWhiteSpace(this.Value))
				yield return new() { Property = this.Property, Operator = ColdShine.Blazor.Models.Operators.ContainsOperator, Value = this.Value.Trim() };
		}
	}
}
