<h3>Searcher</h3>

@code {
	[Parameter]
	public RenderFragment<SearchItem>? Items { get; set; }

	public System.Collections.Generic.List<SearchItem> SearchItems { get; } = new();

	public void Test()
	{
		
	}
}