@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<RadzenNumeric @bind-Value=this.MyValue />
<div>@this.MyValue</div>


<ColdShine.Blazor.Controls.Searcher></ColdShine.Blazor.Controls.Searcher>
<Searcher>
	<Items>

	</Items>
</Searcher>

@code
{
	public long MyValue;

	void ButtonClicked()
	{
		this.MyValue = System.DateTime.Now.Ticks;
		this.StateHasChanged();
		// Handle the Click event of RadzenButton
	}
}